<div class="main">
  <div class="league-table">
    <h2 class="league-table-title">【リーグ表】<span class="detail">※勝利のマス目をクリックしてね</span></h2>
    <table id="winorlose_table" border="2" bordercolor="black" style="border-collapse: collapse">
      <tr class="top-title">
        <th class="player-title">対局者</th>

        <% @members.each do |member| %>
        <td class="opponent-name"><%= member.name %></td>
        <% end %>

        <th class="win-count-title">勝</th>
        <th class="lose-count-title">負</th>
      </tr>

      <% @members.each_with_index do |member, i| %>
      <tr class="result-cells">
        <td class="self-name"><%= member.name %></td>
        <td id="op_<%= i + 1 %>_1" data-id="<%= (i * 6) + 1 %>_<%= (6 * (i * 6 + 1)) - (36 * i + (5 - i)) %>"><%= Result.find((i * 6) + 1).result %></td>
        <td id="op_<%= i + 1 %>_2" data-id="<%= (i * 6) + 2 %>_<%= (6 * (i * 6 + 2)) - (36 * i + (5 - i)) %>"><%= Result.find((i * 6) + 2).result %></td>
        <td id="op_<%= i + 1 %>_3" data-id="<%= (i * 6) + 3 %>_<%= (6 * (i * 6 + 3)) - (36 * i + (5 - i)) %>"><%= Result.find((i * 6) + 3).result %></td>
        <td id="op_<%= i + 1 %>_4" data-id="<%= (i * 6) + 4 %>_<%= (6 * (i * 6 + 4)) - (36 * i + (5 - i)) %>"><%= Result.find((i * 6) + 4).result %></td>
        <td id="op_<%= i + 1 %>_5" data-id="<%= (i * 6) + 5 %>_<%= (6 * (i * 6 + 5)) - (36 * i + (5 - i)) %>"><%= Result.find((i * 6) + 5).result %></td>
        <td id="op_<%= i + 1 %>_6" data-id="<%= (i * 6) + 6 %>_<%= (6 * (i * 6 + 6)) - (36 * i + (5 - i)) %>"><%= Result.find((i * 6) + 6).result %></td>
        <td id="win_<%= i + 1 %>">0</td>
        <td id="lose_<%= i + 1 %>">0</td>
      </tr>
      <% end %>

    </table>
  </div>

  <div class="member-list">
    <h2 class="member-list-title">【対局者紹介】</h2>
    <table border="2" bordercolor="black" style="border-collapse: collapse" class="member-table">

      <tr class="member-info">
        <th class="member-title">対局者</th>
        <th class="account-title">アカウント</th>
        <th class="achievement-title">実績</th>
      </tr>

      <% @members.each do |member| %>
      <tr class="member-introduction">
        <td class="member"><%= member.name %></td>
        <td class="account"><%= member.account %></td>
        <td class="achievement"><%= member.achievement %></td>
      </tr>
      <% end %>

    </table>
    </div>
  </div>
</div>