<!DOCTYPE html>
<html>
  <head>
    <title>LeagueApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h1 class="title">第7回しゅが研<span>毎週金曜日20時〜</span></h1>
    </div>
    <%= yield %>
    <div class="footer">
      <div>
      </div>
    </div>
  </body>
</html>
